<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152575823106-85955po9qjnb9or4plulkvbh1um3ue72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152575823106-85955po9qjnb9or4plulkvbh1um3ue72</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152575823106-i9jkaddrrin1act8b8kr35v4kehbhp8d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQMUe2VaO1HifCCV4fiItHZWehU5dz7Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>152575823106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.runtaxi.taxi</string>
	<key>PROJECT_ID</key>
	<string>runuser-27f24</string>
	<key>STORAGE_BUCKET</key>
	<string>runuser-27f24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152575823106:ios:586baeb5c8c18f71bdc61b</string>
</dict>
</plist>